In [1]:
import psycopg2
import pymongo
from pymongo import MongoClient
import pandas as pd

In [2]:
# Mongo Database credentials

t_host = "capdash.mongo.cosmos.azure.com"
t_port = "10255" # Mongo port
t_dbname = "capdash-dev"
t_user = "capdash"
t_pw = "BGndB0h2hlKPTNh29JjZRyv9ByYx7pSJ1rXigp79i1OwQJv4YU3yD43NdUzlfLyw0HWzihx7Y1DJzJ047FNHWA=="
client = MongoClient(f"mongodb://{t_user}:{t_pw}@capdash.mongo.cosmos.azure.com:10255/?tls=true")
db_mongo = client.capdash
segments_mongo = db_mongo.segments

#mongo capdash.mongo.cosmos.azure.com:10255/capdash-dev -u capdash -p $cosmos_key --tls -eval 'db.segments.find()' --quiet

In [13]:
cursor = db_mongo['customer'].find()

In [14]:
cust = pd.DataFrame(cursor)
cust.head()

,_id,createdAt,updatedAt,url,name,worldViewable
0,5be20bfc85fc4903864420d5,1.541541e+12,1.633690e+12,Montclair,Montclair,False
1,5d05399b78408d44412e8bac,1.560624e+12,1.571089e+12,Example_City_A,Example City A,True
2,5dbb26b0c657605df515d5e6,1.572546e+12,1.638215e+12,SouthPasadena,South Pasadena,True
3,5e8a981984f4b6216ec03600,1.586141e+12,1.586141e+12,city_of_brawley,City of Brawley,False
4,5e8a983584f4b6216ec03601,1.586141e+12,1.586142e+12,city_of_calexico,City of Calexico,False

In [41]:
cust

,_id,createdAt,updatedAt,url,name,worldViewable
0,5be20bfc85fc4903864420d5,1.541541e+12,1.633690e+12,Montclair,Montclair,False
1,5d05399b78408d44412e8bac,1.560624e+12,1.571089e+12,Example_City_A,Example City A,True
2,5dbb26b0c657605df515d5e6,1.572546e+12,1.638215e+12,SouthPasadena,South Pasadena,True
3,5e8a981984f4b6216ec03600,1.586141e+12,1.586141e+12,city_of_brawley,City of Brawley,False
4,5e8a983584f4b6216ec03601,1.586141e+12,1.586142e+12,city_of_calexico,City of Calexico,False
5,5e8a985084f4b6216ec03602,1.586141e+12,1.586142e+12,city_of_calipatria,City of Calipatria,False
6,5e8a989e84f4b6216ec03603,1.586141e+12,1.586141e+12,city_of_el_centro,City of El Centro,False
7,5e8a98b284f4b6216ec03604,1.586141e+12,1.586141e+12,city_of_holtville,City of Holtville,False
8,5e8a98e584f4b6216ec03605,1.586141e+12,1.586141e+12,city_of_imperial,City of Imperial,False
9,5e8a98f784f4b6216ec03606,1.586141e+12,1.586141e+12,city_of_westmorland,City of Westmorland,False
10,5e8a990c84f4b6216ec03607,1.586141e+12,1.639608e+12,County_of_Imperial,County of Imperial,False
11,5f6ccfce4ecbac11c9a93716,1.600967e+12,1.600967e+12,Burbank,City of Burbank,False
12,60121c522ce18b400d2fcf43,1.611800e+12,1.631901e+12,City_of_Santee,City of Santee,True
13,60ee109c6b1ed10022bc687d,1.626215e+12,1.626215e+12,CVWD,CVWD,False
14,612ea7fdd79871002282a393,1.630448e+12,1.630448e+12,CityofPittsburg,City of Pittsburg,False

In [22]:
uniq_cust = cust.loc[:,["_id", "name"]].drop_duplicates()

                         _id                 name
0   5be20bfc85fc4903864420d5            Montclair
1   5d05399b78408d44412e8bac       Example City A
2   5dbb26b0c657605df515d5e6       South Pasadena
3   5e8a981984f4b6216ec03600      City of Brawley
4   5e8a983584f4b6216ec03601     City of Calexico
5   5e8a985084f4b6216ec03602   City of Calipatria
6   5e8a989e84f4b6216ec03603    City of El Centro
7   5e8a98b284f4b6216ec03604    City of Holtville
8   5e8a98e584f4b6216ec03605     City of Imperial
9   5e8a98f784f4b6216ec03606  City of Westmorland
10  5e8a990c84f4b6216ec03607   County of Imperial
11  5f6ccfce4ecbac11c9a93716      City of Burbank
12  60121c522ce18b400d2fcf43       City of Santee
13  60ee109c6b1ed10022bc687d                 CVWD
14  612ea7fdd79871002282a393    City of Pittsburg

In [23]:
cursor = db_mongo['segments'].find()
segments = pd.DataFrame(cursor)
segments.head()

,_id,createdAt,updatedAt,name,combines,totalable,render,customer
0,5c985b1ad062fc3182f433ea,1.553489e+12,1.553489e+12,Residential,None,False,False,5bd4d4d1104fe2139765b165
1,5c985b22d062fc3182f433eb,1.553489e+12,1.553489e+12,Commercial,None,False,False,5bd4d4d1104fe2139765b165
2,5c985b89d062fc3182f433ed,1.553489e+12,1.553489e+12,Community,"Commercial,Residential",False,True,5bd4d4d1104fe2139765b165
3,5c985baed062fc3182f433ee,1.553489e+12,1.553489e+12,Municipal,,False,True,5bd4d4d1104fe2139765b165
4,5ccfb60955810f09e581f99f,1.557116e+12,1.560877e+12,Community,"Residential,Commercial",False,True,5ccc789584a3bc7fabfb6ac1

In [30]:
segs_cust = list(segments['customer'].unique()) # 18 customers
segs_cust

[ObjectId('5bd4d4d1104fe2139765b165'),
 ObjectId('5ccc789584a3bc7fabfb6ac1'),
 ObjectId('5d05399b78408d44412e8bac'),
 ObjectId('5dbb26b0c657605df515d5e6'),
 ObjectId('5c0f1c52ad68e14b37a394a8'),
 ObjectId('5e46d6ff55807b2985617327'),
 ObjectId('5e8a983584f4b6216ec03601'),
 ObjectId('5e8a985084f4b6216ec03602'),
 ObjectId('5e8a989e84f4b6216ec03603'),
 ObjectId('5e8a98b284f4b6216ec03604'),
 ObjectId('5e8a98e584f4b6216ec03605'),
 ObjectId('5e8a98f784f4b6216ec03606'),
 ObjectId('5e8a990c84f4b6216ec03607'),
 ObjectId('5f6ccfce4ecbac11c9a93716'),
 ObjectId('60121c522ce18b400d2fcf43'),
 ObjectId('5e8a981984f4b6216ec03600'),
 ObjectId('612ea7fdd79871002282a393'),
 ObjectId('60ee109c6b1ed10022bc687d')]

In [31]:
cust_list = list(cust['_id'].unique())
cust_list

[ObjectId('5be20bfc85fc4903864420d5'),
 ObjectId('5d05399b78408d44412e8bac'),
 ObjectId('5dbb26b0c657605df515d5e6'),
 ObjectId('5e8a981984f4b6216ec03600'),
 ObjectId('5e8a983584f4b6216ec03601'),
 ObjectId('5e8a985084f4b6216ec03602'),
 ObjectId('5e8a989e84f4b6216ec03603'),
 ObjectId('5e8a98b284f4b6216ec03604'),
 ObjectId('5e8a98e584f4b6216ec03605'),
 ObjectId('5e8a98f784f4b6216ec03606'),
 ObjectId('5e8a990c84f4b6216ec03607'),
 ObjectId('5f6ccfce4ecbac11c9a93716'),
 ObjectId('60121c522ce18b400d2fcf43'),
 ObjectId('60ee109c6b1ed10022bc687d'),
 ObjectId('612ea7fdd79871002282a393')]

In [40]:
set(cust_list).difference(set(segs_cust))
# {ObjectId('5be20bfc85fc4903864420d5')} (Montclair)  # is missing from segments 

set(segs_cust).difference(set(cust_list))
# {ObjectId('5bd4d4d1104fe2139765b165'), (West Hollywood) # is missing from customers
#  ObjectId('5c0f1c52ad68e14b37a394a8'), (???)
#  ObjectId('5ccc789584a3bc7fabfb6ac1'), (Berkely)
#  ObjectId('5e46d6ff55807b2985617327')} (Imperial County) - ryan says should exist


# County od Imperial shows up twice (only in front-end though)
# All customer id references in other tables can be deleted if that customer id isnst in the customer table
# Monclair is empty in segments because there has been no data entry for that customer yet...

{ObjectId('5bd4d4d1104fe2139765b165'),
 ObjectId('5c0f1c52ad68e14b37a394a8'),
 ObjectId('5ccc789584a3bc7fabfb6ac1'),
 ObjectId('5e46d6ff55807b2985617327')}

In [38]:
cust[cust["_id"]=="ObjectId('5bd4d4d1104fe2139765b165')"]

Empty DataFrame
Columns: [_id, createdAt, updatedAt, url, name, worldViewable]
Index: []

# TODO
1. backup EVERYTHING
2. Nuke capdash-dev
3. Clone capdashh to capdash-dev
4. Delete unreferenced children from all other collections (if cust \notin customer -> delete all other refs)
5. Migrate all collections into pg